@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-bg: #2c2f38;
  --secondary-bg: #3e3d43;
  --gray: #6e6e6e;
  --white: #fff;
  --yellow: #ffcd02;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--primary-bg);
  font-family: "Montserrat", sans-serif;
}

.main {
  padding: 3rem 6rem;

  @media screen and (max-width: 1600px) {
    padding: 3rem 4rem;
  }

  @media screen and (max-width: 1366px) {
    padding: 3rem 2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 0rem;
  }
}
