.header {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 8rem;
  padding: 2rem 0;

  &__line {
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
  }

  &__text {
    position: absolute;
    top: -13px;
    left: 100px;
    padding: 4px 8px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white);
    border-left: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
    border-top: 2px solid var(--yellow);
    border-bottom: var(--primary-bg) solid 4px;
  }

}