.main {
  padding: 6rem 26rem;

  @media screen and (max-width: 3839px) {
    padding: 6rem 16rem;
  }

  @media screen and (max-width: 1920px) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: 1500px) {
    padding: 6rem 1rem;
  }

}