.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--gray);
  background-color: var(--secondary-bg);

  &__logo {
    width: 120px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    transition: color 200ms ease;

    &:hover {
      transition: color 300ms ease;
      color: var(--yellow);
    }

    @media screen and (max-width: 420px) {
      font-size: 1.5rem;
    }
  }
}
