.pokemon {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr;
  padding: 4rem 0 6rem 0;
  gap: 0 60px;
  font-weight: 300;
  color: var(--white);

  @media screen and (max-width: 1600px) {
    padding: 2rem 0 6rem 0;
    grid-template-columns: 1fr;

    &__button {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 0 6rem 0;
  }

  @media screen and (max-width: 420px) {
    padding: 2rem 0 4rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__abilities {
    font-size: 2rem;
    font-weight: 300;
  }

  &__moves {
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    padding: 0.4rem 0.8rem;
    color: var(--yellow);
    font-size: 2rem;
    border: 1px solid var(--yellow);
    background-color: transparent;
    transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;

    &:hover {
      transition: background-color,
        color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
      color: var(--secondary-bg);
      background-color: var(--yellow);
    }
  }
}
